@import
url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
* {
  font-family: 'Old Standard TT', serif;
}
@font-face {
   font-family: 'Cabin';
   src: url('../fonts/Cabin-Regular.ttf') format('opentype');
}
.info {
  font-family: 'Cabin', sans-serif;
}
p {
  font-family: 'Old Standard TT', serif;
}
