@import
url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
* {
  font-family: 'Old Standard TT', serif;
}
@font-face {
   font-family: 'Cabin';
   src: url('../fonts/Cabin-Regular.ttf') format('opentype');
   font-weight: normal;
   font-style: normal;
}
.info {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.01em;
  font-variant: small-caps;
  text-align: center;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 500;
}
p {
  font-family: 'Old Standard TT', serif;
  text-indent: 1.5em;
}
.p1 p:first-child::first-line {
  text-decoration: overline;
}
