body{
  background-color: #7f0909;
}
.info{
  color: #ad8b18;
}
p{
  color: #FFC500;
}
.parent-button {
    min-height: 10em;
}

.button {
    font-size: 1.5em;
    color: white;
    font-weight: 600;
    background-color: #7f0909;
    border-color: #ffc500 #ad8b18 #ad8b18 #ffc500;
    border-width: 9px 15px 15px 9px;
    border-style: solid;
    position: relative;
    margin: auto;
    top: 1em;
    padding: 1em;
    width: 9em;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    color: black;
    font-style: italic;
}

.button:active {
    color: #fff;
    background-color:#7f0909;
    border-color: #ad8b18 #ffc500 #ffc500 #ad8b18;
    border-width: 15px 9px 9px 15px;
}
.button:visited {
  text-decoration: underline;
}
