@import
url('https://fonts.googleapis.com/css?family=Pacifico');
* {
  font-family: 'Pacifico', cursive;
}

font.oh{
  font-family: 'Pacifico', cursive;
	font-size: 64px;
	color: #303f44;
}

font.whata{
  font-family: 'Pacifico', cursive;
	font-size: 64px;
	color: #303f44;
}

font.cleaner{
  font-family: 'Pacifico', cursive;
	font-size: 36px;
	color: #303f44;
}

font.queen{
  font-family: sans-serif;
  font-size: 40px;
  color: #fdfdf1;
  font-style: italic;
}

font.sub{
  font-family: sans-serif;
  font-size: 25px;
  color: #303f44;
  font-style: italic;
}

font.trait {
  font-family: 'Pacifico', cursive;
  font-size: 56px;
  color: #ed1701;
  font-weight: bold;
  letter-spacing: 0.05em;
}

font.des {
  font-family: sans-serif;
  font-size: 15px;
  color: #303f44;
  font-weight: bold;
  text-align: justify;
  line-height: 2px;
}

font.description {
  font-family: serif;
  font-size: 15px;
  color: #303f44;
  text-align: justify;
}

font.cutout {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  color:#303f44;
  line-height: 2px;
}

font.last {
  font-family: serif;
  font-size: 15px;
  color: #303f44;
  text-align: center;
}

font.caption, b {
  font-family: sans-serif;
  font-size: 12px;
  color: #303f44;
  text-align: justify;
}
