.icon1 {
	width:50%;
	height:50%;
}

.icon2 {
	width:50%;
	height:50%;
}

.icon3 {
	width:50%;
	height:50%;
}

.redcrown {
	width:96%;
	height:96%;
}

.circle {
	width:35%;
	height:35%;
}

.ladyvac {
	width:60%;
	height:60%;
}

.family {
	width:40%;
	height:40%;
}

.vacc {
	width:25%;
	height:25%;
}
