.icon1 {
	width:50%;
	height:50%;
}

.icon2 {
	width:50%;
	height:50%;
}

.icon3 {
	width:50%;
	height:50%;
}

.redcrown {
	width:80%;
	height:80%;
}

.circle {
	width:25%;
	height:25%;
}

.ladyvac {
	width:50%;
	height:50%;
}

.family {
	width:50%;
	height:50%;
}

.vacc {
	width:50%;
	height:50%;
}
