.icon1 {
	width:50%;
	height:50%;
}

.icon2 {
	width:50%;
	height:50%;
}

.icon3 {
	width:50%;
	height:50%;
}

.redcrown {
	width:90%;
	height:90%;
}

.circle {
	width:25%;
	height:25%;
}

.ladyvac {
	width:75%;
	height:75%;
}

.family {
	width:50%;
	height:50%;
}

.vacc {
	width:50%;
	height:50%;
}
