body {
  background-color: white;
  color: black;
}

#container {
  width: 800 px;
  height: 1749 px;
  position: absolute;
  background-color: #fdfdf1;
}

#leftheader {
  position: absolute;
  left: 340px;
  top: 30px;
	width: 550;
	height: 500;
  transform: rotate(-12deg);
	z-index: 2;
}

#rightheader {  position: absolute;
    left: 500px;
    top: 90px;
	width: 550;
	height: 500;
    transform: rotate(12deg);
	z-index: 2;}
