html {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

.container {
  width: 800px;
  height: 1749px;
  position: absolute;
  left: 200px;
  right: 200px;
  background-color: #fdfdf1;
}

.leftheader {
  position: absolute;
  left: 340px;
  top: 30px;
	width: 550;
	height: 500;
	z-index: 2;
}

.rightheader {
  position: absolute;
    left: 500px;
    top: 90px;
	width: 550;
	height: 500;
	z-index: 2;
}

.bottomheader {
    position: absolute;
    left: 300px;
    top: 270px;
	width: 900;
	height: 500;
	z-index: 2;
}

.title {
      position: absolute;
      left: 376px;
      top: 200px;
  	width: 300px;
  	height: 50px;
  	background-color: #303f44;
  	z-index: 1;
  	padding: 20px;
  }

.subtitle {
  position: absolute;
  left:367px;
  top: 300px
}

.traitone {
  position: absolute;
  left: 376px
  top: 400px;
}

.desone {
  position: absolute;
  left: 376px
  top: 410px;
}

.traittwo{
  position: absolute;
  left: 376px
  top: 430px;
}

.destwo {
  position: absolute;
  left: 376px
  top: 440px;
}

.traitthree {
  position: absolute;
  left: 376px
  top: 460px;
}

.desthree{
  position: absolute;
  left: 376px
  top: 470px;
}

.description {
  position: absolute;
  left: 376px
  top: 490px;
}
