html {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  width: 800px;
  height: 1749px;
  position: absolute;
  left: 200px;
  right: 200px;
  background-color: #fdfdf1;
}

.leftheader {
  position: absolute;
  left: 310px;
  top: 30px;
	width: 550;
	height: 500;
  transform: rotate(-15deg);
	z-index: 2;
}

.rightheader {
  position: absolute;
    left: 530px;
    top: 30px;
	width: 550;
	height: 500;
  transform: rotate(15deg);
	z-index: 2;
}

.bottomheader {
    position: absolute;
    left: 320px;
    top: 135px;
	width: 900;
	height: 500;
	z-index: 2;
}

.title {
      position: absolute;
      left: 376px;
      top: 200px;
  	width: 300px;
  	height: 50px;
  	background-color: #303f44;
  	z-index: 1;
  	padding: 20px;
  }

.subtitle {
  position: absolute;
  left:356px;
  top: 300px
}

.traitone {
  position: absolute;
  left: 506px;
  top: 350px;
  width: 300px;
  height: 50px;
}

.desone {
  position: absolute;
  left: 556px;
  top: 430px;
  width: 200px;
}

.traittwo{
  position: absolute;
  left: 506px;
  top: 530px;
  width: 300px;
  height: 50px;
}

.destwo {
  position: absolute;
  left: 556px;
  top: 610px;
  width: 200px;
}

.traitthree {
  position: absolute;
  left: 476px;
  top: 800px;
  width: 200px;
  height: 50px;
}

.desthree{
  position: absolute;
  left: 526px;
  top: 800px;
  width: 150px;
}

.description {
  position: absolute;
  left: 500px;
  top: 890px;
  width: 275px;
}
